:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario: #FFC107;
    --secundario:#0097A7;
    --gris:#757575;
}

html{
    font-size: 99.5%;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco));
    
}

.info-nav{
   
    display: flex;
    justify-content: left;
    
}   

.contenedor{
    max-width: 80rem;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sombra{

    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112,0.54);
     -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112,0.54);
     box-shadow: 0px 5px 15px 0px rgba(112, 112, 112,0.54);
     background-color: var(--blanco);
     padding:2rem;
     border-radius: 1rem;
     
      }

 .servicios{
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr,;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

.styled-table th{
    background-color: #007bffd3;
    padding: 28px 60px;
}

.styled-table td {
    padding: 28px 60px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #007bffd3
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #007bffd3;
}

.footer-sec{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--oscuro);
    color: var(--blanco);
}

.hero{
    background-image: url(img/pista-2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 2rem;
    position: relative;
    height: 700px;
    
   }

/*Contenido dentro de la imagen **/
.hero-contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--blanco);
    
}

